<template>
    <div class="p-5">
        <h1 class="text-2xl mb-4">Laravel Video Chat</h1>
        <div
            class="grid grid-flow-row grid-cols-3 grid-rows-3 gap-4 bg-black/]"
        >
            <div id="my-video-chat-window"></div>
        </div>
    </div>
</template>
<script>
const { connect, createLocalVideoTrack, Video } = require("twilio-video");

export default {
    data: function() {
        return {
            accessToken: "",
            activeRooms: null,
            videoStatus: false
        };
    },
    methods: {
        getAccessToken: function() {
            const _this = this;
            const axios = require("axios");

            // Request a new token
            axios
                .get("/api/access_token")
                .then(function(response) {
                    _this.accessToken = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {
                    _this.connectToRoom();
                });
        },
        connectToRoom() {
            connect(
                this.accessToken,
                { name: "cool room" },
                { audio: true }
            ).then(room => {
                room.participants.forEach(participantConnected);
                room.on("participantConnected", this.participantConnected());

                room.on("participantDisconnected", this.participantDisconnected());
                room.once("disconnected", error =>
                    room.participants.forEach(this.participantDisconnected())
                );
            });
        },
        participantConnected(participant) {
            console.log('Participant "%s" connected', participant.identity);

            const div = document.createElement("div");
            div.id = participant.sid;
            div.innerText = participant.identity;

            participant.on("trackSubscribed", track =>
                trackSubscribed(div, track)
            );
            participant.on("trackUnsubscribed", trackUnsubscribed);

            participant.tracks.forEach(publication => {
                if (publication.isSubscribed) {
                    trackSubscribed(div, publication.track);
                }
            });

            document.body.appendChild(div);
        },

        participantDisconnected(participant) {
            console.log('Participant "%s" disconnected', participant.identity);
            document.getElementById(participant.sid).remove();
        },

        trackSubscribed(div, track) {
            div.appendChild(track.attach());
        },

        trackUnsubscribed(track) {
            track.detach().forEach(element => element.remove());
        }
    }
};
</script>
