<template>
    <div class="p-5">
        <h1 class="text-2xl mb-4">Laravel Video Chat</h1>
        <div
            class="grid grid-flow-row grid-cols-3 grid-rows-3 gap-4 bg-black/]"
        >
            <div id="my-video-chat-window"></div>
            <button
                @click.prevent="mute()"
                style="background-color:black; color:white"
            >
                Mute
            </button>
            <button
                @click.prevent="closeSession()"
                style="background-color:black; color:white"
            >
                closeSession
            </button>
            <button style="background-color:black; color:white" @click.prevent="startSession()">startSession</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "video-chat",
    data: function() {
        return {
            accessToken: "",
            activeRooms: null,
            videoStatus: false,
            muted: false
        };
    },
    methods: {
        mute() {
            this.muted = !this.muted;
            console.log("in mute");
            this.activeRooms.localParticipant.audioTracks.forEach(
                publication => {
                    // publication.track.mediaStreamTrack.muted.disable();
                    publication.track.disable();
                }
            );
            this.activeRooms.localParticipant.videoTracks.forEach(
                publication => {
                    console.log(publication);
                    console.log(publication.track);
                    // publication.track.disable();
                    publication.track.stop();
                    publication.unpublish();
                }
            );
        },
        closeSession() {
            const videoChatWindow = $("#my-video-chat-window");
            console.log("session ended");
            this.activeRooms.participants.forEach(participant => {
                participant.tracks.forEach(publication => {
                      const track = publication.track;
                      if(track && track.detach()){
                        videoChatWindow.html(track.detach())
                      } else{
                        videoChatWindow.html('no user connected')
                      }

                    publication.on("unsubscribed", () => {
                        videoChatWindow.html("session ened");

                        /* Hide the associated <video> element and show an avatar image. */
                    });
                });
            });
        },
        getAccessToken: function() {
            const _this = this;
            const axios = require("axios");

            // Request a new token
            axios
                .get("/index.php/api/access_token")
                .then(function(response) {
                    _this.accessToken = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                })
                .then(function() {

                });
        },
        startSession() {
              this.connectToRoom();
            if(this.activeRooms){
                this.activeRooms.localParticipant.videoTracks.forEach(
                videoTrack => {
                    videoTrack.track.enable();
                    console.log(videoTrack.track.enable());
                }
            );
            }
        },
        toggleVideo: function() {
            this.videoStatus = !this.videoStatus;
            console.log(this.videoStatus);
            // Video toggle event handler
            if (this.videoStatus) {
                this.activeRooms.localParticipant.videoTracks.forEach(
                    videoTrack => {
                        videoTrack.track.disable();
                        console.log(videoTrack.track.disable());
                    }
                );
            } else {
                this.activeRooms.localParticipant.videoTracks.forEach(
                    videoTrack => {
                        videoTrack.track.enable();
                        console.log(videoTrack.track.enable());
                    }
                );
            }
        },
        participantDisconnected(participant) {
            console.log('Participant "%s" disconnected', participant);
        },
        connectToRoom: function() {
            const { connect, createLocalVideoTrack } = require("twilio-video");

            connect(
                this.accessToken,
                { name: "cool room" },
                { audio: true }
            ).then(
                room => {
                    this.activeRooms = room;
                    console.log(`Successfully joined a Room: ${room}`);

                    // const videoChatWindow = document.getElementById('my-video-chat-window');

                    const videoChatWindow = $("#my-video-chat-window");

                    createLocalVideoTrack().then(track => {
                        videoChatWindow[0].appendChild(track.attach());
                    });

                    room.on("participantConnected", participant => {
                        console.log(
                            `Participant "${participant.identity}" connected`
                        );

                        participant.tracks.forEach(publication => {
                            if (publication.isSubscribed) {
                                const track = publication.track;
                                videoChatWindow[0].appendChild(track.attach());
                            }
                        });

                        participant.on("trackSubscribed", track => {
                            videoChatWindow[0].appendChild(track.attach());
                        });
                        participant.on("audioTracks", track => {
                            videoChatWindow[0].appendChild(track.attach());
                        });
                    });
                    room.on("participantDisconnected", participant => {
                        console.log(videoChatWindow);
                        console.log("participant disconnected", participant);
                        participant.tracks.forEach(publication => {
                             const track = publication.track;
                                videoChatWindow[0].appendChild(track.detach())
                        })
                        // videoChatWindow[0].removeChild(videoChatWindow.childNodes[participant.identity]);
                        //     participant.videoTracks.forEach(
                        // videoTrack => {
                        //     console
                        //     videoTrack.disable();
                        //     videoTrack.stop();
                        //     videoTrack.unpublish();
                        //     // console.log(videoTrack.track.enable());
                        // }
                        //     );
                        // this.participantDisconnected(participant)
                        // videoChatWindow.html('user remove')
                        // .remove();
                    });
                },
                error => {
                    console.error(
                        `Unable to connect to Room: ${error.message}`
                    );
                }
            );
        }
    },
    mounted: function() {
        console.log("Video chat room loading...");

        this.getAccessToken();
    }
};
</script>
